
		body {
			font-family: "Segoe UI", Arial, sans-serif;
			font-weight: 400;
			/*background-color: #e3edfc;*/
		}

		.form {
			background: rgba(0, 183, 255, 0.082);
			/*height: 800px;*/
			width: 500px;
			position: relative;
			padding:20px 0px 50px 0px;
			margin: 10px 0px 10px 0px;
			left: 30%;
			box-shadow: 0px 0px 15px 0px #888888;
			border-radius: 10px;
			text-align: center;
		}

		input[type=submit],.btn-submit {
			background: rgba(57, 136, 255, 0.5);
			outline: none;
			width: 100px;
			padding-top: 0px;
			padding-bottom: 5px;
			padding-left: 5px;
			padding-right: 5px;
			margin-top: 20px;
			border-color: rgba(0, 0, 255, 0.2);
			border-radius: 5%;
			font-family: "Segoe UI", Arial, sans-serif;
			font-size: 18px;
			color: #242323;
		}

		.btn-submit:hover {
			background: rgba(57, 136, 255, 0.8);
			cursor:pointer;
		}